html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
html {
    font-size: 62.5%;
    background-color: lightblue;
}
.container {
    display: flex;
    font-size: 4rem;
    justify-content: space-between;
    background-color: darkgray;
    width: 100vw;
}
.container nav {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    width: 18%;
    padding: .5% 1%;
    padding-right: 5.1%;
}
.container a{
    text-decoration: none;
    color: black;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30% 0;
}
.member {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info {
    font-size: 4rem;
}